.AppleCommonP
    width: 3%
    position: absolute
    top:  25%

$applePositionsH: 1,2
$applePositionsV: 4,5,6
@each $positionH in $applePositionsH
    .appleImg#{$positionH}
        width: 3%
        position: absolute
        left: 10 + (8*$positionH) + %
        top: 10+ (3*$positionH) + %

@each $positionV in $applePositionsV
    .ImgWrapper#{$positionV}
        @extend .AppleCommonP
        left: (3*$positionV) + %
        margin-left: 3+$positionV + %

.ImgWrapper3
    @extend .AppleCommonP
    margin-left: 5%

.containerApple
    margin: 5%
    
